<div class="top-content center">
  <h2 class="top-content--title white-text">Let's Go Dutch.</h2>
  <a class="waves-effect waves-light btn-large center"><i class="material-icons left">person_add</i>Create Group</a>
</div>
